<div class="container-fluid">
  <div class="row bg-secondary">

    <div class="col-md-12 text-white">
      <a class="text-left" routerLink="/home">
        <i class="bi bi-box-arrow-left text-white"> Inicio</i>
      </a>

      <h1 class="fs-54 text-center">Temas</h1>
      <h5 class="fs-18 text-center">Veja aqui todos os temas ou cadastre um novo</h5>

      <div class="row d-flex justify-content-center mt-4 mb-5">
        <div class="rol-md-3">

          <div class="form-group">
            <input [(ngModel)]="tema.descricao" ntype="text" class="form-control" id="descricao"
              placeholder="Digite a descrição">
          </div>

          <div class="d-flex justify-content-center">
            <button (click)="CadastrarTema()" class="btn btn-light">Cadastrar</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="text-center">Todos os temas</h2>
    </div>
  </div>
  <div class="row mt-3 d-flex justify-content-center">
    <div class="col-md-8">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Temas disponíveis</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let ltemas of listTema">
            <th scope="row">{{ltemas.id}}</th>
            <td>{{ltemas.descricao}}</td>
            <td class="d-flex justify-content-end">
              <button class="btn btn-sm btn-dark" [routerLink]="['/edit-themes', ltemas.id]">Editar</button>
              <button class="btn btn-sm btn-danger ml-2" [routerLink]="['/del-themes', ltemas.id]">Excluir</button>
            </td>
          </tr> 

        </tbody>
      </table>
    </div>
  </div>

</div>