<nav class="navbar navbar-expand-lg navbar-light bg-danger">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- BUTTONS -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- ITEMS -->
    <ul class="navbar-nav mr-auto d-flex align-items-center">

      <li class="nav-item active">
        <img class="img-fluid rounded-circle" src="https://i.imgur.com/BKJ8d4R.png" alt="" width="50px" height="50px">
      </li>

      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16-lspacing-1">Vinicius Barbosa</p>
      </li>

      <li class="nav-item pl-3">
        <a href="">
          <i class="bi bi-pencil-square text-white fs-16 m-0"></i>
        </a>
      </li>

    </ul>
    <!-- ITEMS END -->
    <!-- EXIT -->
    <ul class="navbar-nav ml-auto d-flex align-items-center">

      <li class="nav-item pl-1">
        <a class="m-0 font-weight-bold text-white fs-14-lspacing-1">Sair
          <i class="bi bi-box-arrow-left"></i>
        </a>
      </li>

    </ul>
    <!-- EXIT END -->
  </div>
  <!-- BUTTONS END -->
</nav>