.fs-14{
    font-size: 14pt;
}

.fs-16{
    font-size: 16pt;
}

.fs-14-lspacing-1{
    font-size: 14pt;
    letter-spacing: 1px;
}

.fs-16-lspacing-1{
    font-size: 16pt;
    letter-spacing: 1px;
}

.fs-18-lspacing-1{
    font-size: 18pt;
    letter-spacing: 1px;
}

.fs-16-lspacing-1-italic{
    font-size: 16pt;
    font-style: italic;
    letter-spacing: 1px;
}

.pointer{
    cursor: pointer;
}