html{
    scroll-behavior: smooth;
}


/* TAMANHOS DE FONTE */
.fs-54{
    font-size: 54pt;
}
.fs-18{
    font-size: 18pt;
}



/* COR DO BACKGROUND */
.background-page {
    background-color: rgb(221, 221, 129);
}

/* SOMBRAS DOS FORMULÃRIOS */
.form-shadow{
    background-color: rgb(255, 255, 255);
    padding: 50px 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgba(167, 167, 167, 0.192);
}


/* INPUT ESTILIZADO LABEL */
.input-style-l {
    position: relative;
    width: 100%;
    height: 40px;
}
.input-style-l input {
    background-color: rgba(190, 30, 30, 0);
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
}
.input-style-l label{
    position: absolute;
    display: flex;
    left: 0px;
    top: 7px;
    pointer-events: none;
    transition: 0.3s;
    padding: 0px 10px;
    color: #6c757d;
}
.input-style-l input:focus ~ label,
.input-style-l input:valid ~ label{
    color: #17a2b8;
    transform: translateX(18px) translateY(-16.5px);
    font-size: 0.85em;
    border-left: 1px solid #17a2b8;
    border-right: 1px solid #17a2b8;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.1em;
    font-weight: bolder;
}
.input-style-l input:focus,
.input-style-l input:valid{
    border:1px solid #17a2b8;
}


/* INPUT ESTILIZADO SPAN */
.input-style {
    position: relative;
    width: 100%;
    height: 40px;
}
.input-style > input {
    background-color: rgba(190, 30, 30, 0);
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    transition: 0.5s;
}
.input-style > span{
    position: absolute;
    display: flex;
    left: 0px;
    top: 7px;
    pointer-events: none;
    transition: 0.3s;
    padding: 0px 10px;
    color: #6c757d;
}
.input-style input:focus ~ span,
.input-style input:valid ~ span{
    color: #17a2b8;
    transform: translateX(18px) translateY(-16.5px);
    font-size: 0.85em;
    border-left: 1px solid #17a2b8;
    border-right: 1px solid #17a2b8;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.1em;
    font-weight: bolder;
}
.input-style input:focus,
.input-style input:valid{
    border:1px solid #17a2b8;
}

